[submodule "flexmodel-ui"]
	path = flexmodel-ui
	url = git@github.com:flexmodel-dev/flexmodel-ui.git
[submodule "flexmodel-website"]
	path = flexmodel-website
	url = git@github.com:flexmodel-dev/flexmodel-website.git
[submodule "flexmodel-sdks"]
	path = flexmodel-sdks
	url = git@github.com:flexmodel-dev/flexmodel-sdks.git
